// Custom stuff here
@import '@reifyhealth/picasso-pkg/dist/stylesheets/picasso.base.scss';

// Simple layout structure
.o-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;

  &__header,
  &__content,
  &__footer {
    flex-grow: 0;
    width: 100%;
    padding: 24px;
  }

  &__content { flex-grow: 1; }
}

// iframe on Page 1
.o-iframe-block {
  width: 800px;
  height: 440px;
  margin: 0 auto;

  iframe {
    border: none;
    width: 100%;
    height: 100%;
  }
}
